*.list.gz
*.ipynb_checkpoints
*__pycache__
data
data/
packages/
.idea
*.fdb_latexmk
*.fls
*.aux
*.log
*.blg
*.bbl
*.synctex.gz
*.egg-info
consistent-trees/*
!consistent-trees/read_tree/example.c
jupyter/exploratory/
.vscode/
figures/*
!figures/code/
temp/
build/lib.linux-x86_64-3.8/relaxed/subhaloes/cy_binning.cpython-38-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.8/relaxed/subhaloes/cy_binning.o
