*.list.gz
*.ipynb_checkpoints
*__pycache__
*.fdb_latexmk
*.fls
*.aux
*.log
*.blg
*.bbl
*.synctex.gz
relaxed.egg-info
consistent-trees/
!consistent-trees/read_tree/example.c
packages/
.vscode/
figures/
!figures/code/
*temp/
build/
data/
*.DS_Store
output/30k/
bin/temp.py
output/output_m12/
